#content section {
    flex-direction: row;
    flex-wrap: wrap;
}

.guild {
    display: flex;
    width: 400px;
    align-items: center;
    margin-bottom: 10px;
}

.guild * {
    color: white;
}

.guild .text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.guild .text p {
    margin: 4px;
}

.guild .guild-icon {
    display: flex;
    align-items: center;
    height: auto;
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.guild .guild-icon rect {
    fill: var(--blurple);
}

.guild .name {
    text-align: left;
}

.guild .subscription * {
    color:  lightblue;
}
