#templates {
    width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: lightblue;
}

h2 {
    text-align: center;
}

.template {
    display: flex;
    /*align-items: center;*/
    align-items: flex-start;
    margin-bottom: 10px;
    color: white;
    flex-direction: column;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
}

.template > * {
    margin: 10px 0;
}

.template .template-meta {
    width: 100%;
}

.template .attribute input,
.template .attribute select,
.template .attribute textarea {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2px 5px;
    min-width: 250px;
    max-width: 100%;
    resize: none;
}

.template .attribute input[disabled],
.template .attribute select[disabled] {
    background: lightgray;
}

.template .attribute {
    margin-bottom: 5px;
}

.template .attribute:last-of-type {
    margin-bottom: 0;
}

.template .attribute label {
    margin-left: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table th,
table td {
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-width: 0 1px;
    margin: 2px 0;
}

table td {
    padding: 10px 5px;
}

table th:first-of-type,
table td:first-of-type,
table th:last-of-type,
table td:last-of-type {
    border: none;
}

table tr:first-of-type {
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
}

table th {
    font-weight: bold;
}

table .right {
    text-align: right;
}

table pre {
    margin: 0;
}

table p {
    text-align: left;
    margin: 0;
}

.fields .name {
    /*min-width: 100px;*/
    width: 100px;
    overflow: hidden;
}

.fields .prompt {
    /*width: 100px;*/
    overflow: hidden;
}

.fields .timeout {
    width: 63px;
    overflow: hidden;
}

.fields .type {
    min-width: 100px;
    width: 100px;
    overflow: hidden;
}

.fields .optional {
    width: 65px;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .fields .optional,
    .fields .type,
    .fields .timeout {
        display: none;
    }

    .fields .prompt {
        border-right: 0;
    }

    .template .attribute {
        margin-bottom: 10px;
    }

    .template .attribute input {
        width: 100%;
    }

    .template .attribute label {
        margin-top: 5px;
        width: 100%;
        display: block;
    }
}
