@media only screen and (max-width: 800px) {
    #testimonials-hr {
        display: none;
    }

    #testimonials {
        display: none;
    }

}

.testimonial-images img {
    padding: 15px 0 0 15px;
    background: var(--topgg-dark);
    border-radius: 15px;
    margin-bottom: 5px;
}

.testimonial-images img:last-of-type {
    margin-bottom: 0;
}

#main img {
    max-width: 600px;
    align-self: center;
    width: 100%;
    padding: 10px;
    background: var(--discord-dark);
    border-radius: 15px;
}
