.template-id {
    font-size: 1em;
    text-align: center;
}

.template .attributes {
    width: 100%;
}

.template .attribute {
    width: 100%;
}

.template .attribute p {
    margin: 0 0 5px 0;
    text-align: left;
}

.template .attribute input,
.template .attribute select,
.template .attribute textarea {
    width: 100%;
    padding: 5px;
}

.template .fields {
    width: 100%;
}

.template .fields hr {
    margin: 40px;
    box-sizing: border-box;
    width: auto;
    max-width: none;
}

.template .fields hr:last-of-type {
    display: none;
}

.template .info .index {
    margin: 0 0 5px 0;
}

.template .info {
    margin-bottom: 10px;
}

.template .submit-button {
    margin-top: 10px;
    width: 100%;
}

.template .create-field-button {
    width: 100%;
}

.template button {
    margin: 0;
    border-radius: 4px;
    padding: 5px;
}

.template .delete-button {
    background: red;
    border-color: red;
    color: white;
    margin-top: 0;
}

.template .field-submit-button {
    background: lightblue;
    border-color: lightblue;
}

.template .delete-button[disabled] {
    background: lightgray;
    color: black;
}

select {
    cursor: pointer;
}

#base-field {
    display: none;
}
