div#template-meta {
    /* position: sticky;
    top: 90px; */
    height: fit-content;
    background-color: var(--discord-dark);
    padding: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: black 0px 0px 4px;
}

div#template-fields {
    min-height: 150vh;
}

details.field {
    margin: 1em 0;
    background-color: var(--discord-dark);
    padding: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: black 0px 0px 4px;
}

summary {
    user-select: none;
    font-size: 1.5em;
    list-style: none;
}

summary::after {
    content: '⯆';
    float: right;
}

details[open] summary::after {
    content: '⯅';
}

/* div#template-info.minimized {
    max-height: 4em;
    overflow: hidden;
} */

div#save-changes {
    margin-top: 1em;
}

label {
    line-height: 2;
}

input, select, textarea {
    width: 100%;
    color: inherit;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    cursor: pointer;
}

optgroup, option {
    color: initial;
}

option:disabled {
    color: gray;
}

input:focus, textarea:focus {
    cursor: text;
}

button {
    padding: 0.3em 0.6em;
    border: none;
    font-size: 0.9em;
    border-radius: 3px;
    cursor: pointer;
}