{% extends "base.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/guild_settings.css') }}">
{% endblock head %}


{% block content %}
<section id="main">
    <h1 class="title">{% if guild_object %}{{ guild_object.name }}{% else %}Unknown Guild{% endif %}</h1>
    {% if guild_object is none %}
        <p>
            <a href="{{ app['bots']['bot'].get_invite_link(guild_id=guild['guild_id']) }}">Click here to invite the bot</a>
        </p>
    {% endif %}
    <div id="templates">
        {% for template in templates %}
            <div class="template" data-template-id="{{ template.template_id }}">
                <h2 class="subtitle">{{ template.name }}</h2>
                <table class="fields">
                    <tr>
                        <th class="name">Name</th>
                        <th class="prompt">Prompt</th>
                        <th class="right timeout">Timeout</th>
                        <th class="type">Field Type</th>
                        <th class="right optional">Optional</th>
                    </tr>
                    {% for field in template.fields.values() %}
                        <tr data-field-id="{{ field.field_id }}">
                            <td class="name">{{ field.name }}</td>
                            {% if CommandProcessor.get_is_command(field.prompt)|select|first %}
                                <td class="prompt"><pre><code>&lt;COMMAND&gt;</code></pre></td>
                            {% else %}
                                <td class="prompt">{{ field.prompt }}</td>
                            {% endif %}
                            <td class="right timeout">{{ field.timeout }}</td>
                            <td class="type">{{ field.field_type }}</td>
                            <td class="right optional">{{ field.optional }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
