{% extends "base.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/guilds.css') }}">
{% endblock head %}


{% block content %}
<section id="main">
    {% for guild in guilds %}
        <div class="guild" href="/guilds/{{ guild.id }}">
            <a href="/guilds/{{ guild.id }}">
                {% if guild.icon %}
                    <img class="guild-icon" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" />
                {% else %}
                    <img class="guild-icon" src="https://cdn.discordapp.com/embed/avatars/1.png" />
                {% endif %}
            </a>
            <div class="text">
                <a href="/guilds/{{ guild.id }}">
                    <p class="name">{{ guild.name }}</p>
                </a>
                {% if guild.premium %}
                    <div>
                        <p class="subscription">Premium active</p>
                    </div>
                {% else %}
                    <div>
                        <p class="subscription">Get premium</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock content %}
