{% extends "base.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/guilds.css') }}">
{% endblock head %}


{% block content %}
<section id="main">
    <h1>Guild settings</h1>
</section>
{% endblock content %}
