{% extends "base.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/guilds.css') }}">
{% endblock head %}


{% block content %}
<section id="main">
    {% for guild in guilds %}
        <div class="guild" href="/guilds/{{ guild.id }}">
            <a href="/guilds/{{ guild.id }}">
                {% if guild.icon %}
                    <img class="guild-icon" src="{{ guild.icon.with_size(256) }}" />
                {% else %}
                    <img class="guild-icon" src="https://cdn.discordapp.com/embed/avatars/1.png" />
                {% endif %}
            </a>
            <div class="text">
                <a href="/guilds/{{ guild.id }}">
                    <p class="name">{{ guild.name }}</p>
                </a>
                <div>
                    <p class="subscription"><a href="/guilds/{{ guild.id }}/premium">
                        {% if guild.premium %}
                            Premium active
                        {% else %}
                            Get premium
                        {% endif %}
                    </a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock content %}
