{% extends "base.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/guild_settings.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static('/css/template_edit.css') }}">
<script type="text/javascript" src="{{ static('/js/template_edit.js') }}"></script>
{% endblock head %}


{% block content %}
<section id="main">
    <h1 class="title">{{ template.name }}</h1>
    <h2 class="template-id">
        <pre style="margin: 0;"><code>{{ template.template_id }}</code></pre>
        <a style="display: block;" href="/guilds/{{ template.guild_id }}">Return to guild</a>
        {# <a style="display: block;" href="/templates/{{ template.template_id }}/advanced">Advanced editing</a> #}
    </h2>
    <div id="templates">

        {# First we have the template data itself #}
        <div class="template" data-template-id="{{ template.template_id }}">
            <div class="attributes field">

                {# Let's store the template ID here just for fun #}
                <input type="hidden" value="{{ template.template_id }}" name="template_id" />

                {# Verification channel #}
                <div class="attribute">
                    <p>Verification Channel ID</p>
                    <select
                            name="verification_channel_id"
                            data-original="{{ template.verification_channel_id or '' }}"
                            oninput="enableFieldSubmitButton(this);" >
                        <option value="" selected></option>
                        {% for category, channels in guild.by_category() %}
                            <optgroup label="{{ category or 'Uncategorized' }}">
                                {% for c in channels if c.type.name in ["text"] %}
                                    {% set compare = c.id|string() %}
                                    <option
                                            value="{{ c.id }}"
                                            {% if compare == template.verification_channel_id %}selected{% endif %}>
                                        #{{ c.name }}
                                    </option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>

                {# Archive channel #}
                <div class="attribute">
                    <p>Archive Channel ID</p>
                    <select
                            name="archive_channel_id"
                            data-original="{{ template.archive_channel_id or '' }}"
                            oninput="enableFieldSubmitButton(this);" >
                        <option value="" selected></option>
                        {% for category, channels in guild.by_category() %}
                            <optgroup label="{{ category or 'Uncategorized' }}">
                                {% for c in channels if c.type.name in ["text"] %}
                                    {% set compare = c.id|string() %}
                                    <option
                                            value="{{ c.id }}"
                                            {% if compare == template.archive_channel_id %}selected{% endif %}>
                                        #{{ c.name }}
                                    </option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>

                {# Given role #}
                <div class="attribute">
                    <p>Role ID</p>
                    <select
                            name="role_id"
                            data-original="{{ template.role_id or '' }}"
                            oninput="enableFieldSubmitButton(this);" >
                        <option value="" selected></option>
                        {% for r in guild.roles[::-1] %}
                            {% set compare = r.id|string() %}
                            <option
                                    value="{{ r.id }}"
                                    {% if compare == template.role_id %}selected{% endif %}>
                                {{ r.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                {# Max profile count #}
                <div class="attribute">
                    <p>Max Profile Count</p>
                    <select
                            name="max_profile_count"
                            data-original="{{ template.max_profile_count or '' }}"
                            oninput="enableFieldSubmitButton(this);" >
                        {% for i in range(0, 26) %}
                            <option
                                    value="{{ i }}"
                                    {% if i == template.max_profile_count %}selected{% endif %}
                                    {% if i > guild_settings.max_template_profile_count %}disabled{% endif %} >
                                {{ i }}{% if i > guild_settings.max_template_profile_count %} - premium{% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                {# Submit changes button #}
                <div class="attribute">
                    <button class="submit-button" onclick="sendUpdateTemplate(this);" disabled>Submit changes</button>
                </div>

            </div>
        </div>

        {# And now we have all the fields #}
        <div class="template">
            <div class="fields">
                {% for field in template.field_list %}
                    <div class="field">
                        <input type="hidden" value="{{ field.field_id }}" name="field_id" />
                        <h3 class="index">Field Index #{{ field.index }}</h3>
                        <div class="attribute">
                            <p>Name</p>
                            <textarea
                                    name="name"
                                    type="text"
                                    data-original="{{ field.name }}"
                                    rows="2"
                                    oninput="enableFieldSubmitButton(this);"
                                    required >
                                {{- field.name -}}
                            </textarea>
                        </div>
                        <div class="attribute">
                            <p>Prompt</p>
                            <textarea
                                    name="prompt"
                                    type="text"
                                    data-original="{{ field.prompt }}"
                                    rows="4"
                                    oninput="enableFieldSubmitButton(this);"
                                    required >
                                {{- field.prompt -}}
                            </textarea>
                        </div>
                        <div class="attribute">
                            <p>Timeout</p>
                            <input
                                    name="timeout"
                                    type="number"
                                    value="{{ field.timeout }}"
                                    data-original="{{ field.timeout }}"
                                    oninput="enableFieldSubmitButton(this);"
                                    required />
                        </div>
                        <div class="attribute">
                            <p>Type</p>
                            <select name="type" oninput="enableFieldSubmitButton(this);">
                                <option value="1000-CHAR" {% if field.type == "1000-CHAR" %}selected{% endif %}>Text</option>
                                <option value="INT" {% if field.type == "INT" %}selected{% endif %}>Number</option>
                                <option value="IMAGE" {% if field.type == "IMAGE" %}selected{% endif %}>Image</option>
                            </select>
                        </div>
                        <div class="attribute">
                            <p>Optional</p>
                            <select name="optional" oninput="enableFieldSubmitButton(this);">
                                <option value="1" {% if field.optional %}selected{% endif %}>Yes</option>
                                <option value="" {% if field.optional %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="attribute">
                            <button class="submit-button" onclick="sendUpdateField(this);" disabled>Submit changes</button>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
            </div>
        </div>

        <div class="template delete-section">
            <div class="attribute">
                <button class="submit-button delete-button" disabled>Delete template</button>
            </div>
        </div>

    </div>
</section>
{% endblock content %}
