{% extends "base.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/guild_settings.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static('/css/template_edit.css') }}">
<script type="text/javascript" src="{{ static('/js/new_template_edit.js') }}"></script>
{% endblock head %}


{% block content %}
<section id="main">
    <input type="hidden" name="guild_id" id="guild_id" value="{{ template.guild_id }}"> {# apparently the api requires guild_id #}
    <div id="template-meta">
        <div id="template-info">
            {# template name #}
            <input type="text" name="name" id="name" value="{{ template.name }}" style="font-size:2em;">
            <pre id="template_id">{{ template.template_id }}</pre>
            {# template verification channel #}
            <label for="verification_channel_id">Template Verification Channel</label><br>
            <select name="verification_channel_id" id="verification_channel_id">
                <option value="" selected>(no channel)</option>
                {% for category, channels in guild.by_category() %}
                    <optgroup label="{{ category or '(no category)' }}">
                        {% for c in channels if c.type.name in ["text"] %}
                            <option
                                    value="{{ c.id }}"
                                    {% if c.id|string() == template.verification_channel_id %}selected{% endif %}>
                                #{{ c.name }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            {# template archive channel #}
            <label for="archive_channel_id">Template Archive Channel</label><br>
            <select name="archive_channel_id" id="archive_channel_id">
                <option value="" selected>(no channel)</option>
                {% for category, channels in guild.by_category() %}
                    <optgroup label="{{ category or '(no category)' }}">
                        {% for c in channels if c.type.name in ["text"] %}
                            <option
                                    value="{{ c.id }}"
                                    {% if c.id|string() == template.archive_channel_id %}selected{% endif %}>
                                #{{ c.name }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            {# template role #}
            <label for="role_id">Template Role</label><br>
            <select name="role_id" id="role_id">
                <option value="" selected>(no role)</option>
                {% for r in guild.roles[:0:-1] %}
                    <option
                            value="{{ r.id }}"
                            {% if r.id|string() == template.role_id %}selected{% endif %}>
                        {{ r.name }}
                    </option>
                {% endfor %}
            </select>
            {# max profile count #}
            <label for="max_profile_count">Max Profile Count</label><br>
            <select name="max_profile_count" id="max_profile_count">
                {% for i in range(26) %}
                    <option
                            value="{{ i }}"
                            {% if i == template.max_profile_count %}selected{% endif %}
                            {% if i > guild_settings.max_template_profile_count %}disabled{% endif %}>
                        {{ i }}{% if i > guild_settings.max_template_profile_count %} (requires premium){% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div id="save-changes">
            <button onclick="saveTemplate()" style="background:#00ff00;">Save Template</button>
            <button onclick="deleteTemplate()" style="background:#ff0000;color:white;">Delete Template</button>
        </div>
    </div>
    <div class="template-fields">
        {% for field in template.field_list %}
            <details class="field" field-id="{{ field.field_id }}">
                <summary>{{ field.name }}</summary>
                <pre>{{ field.field_id }}</pre>
                <label for="name">Field Name</label>
                <input type="text" name="name" id="name" value="{{ field.name }}">
                <label for="type">Field Type</label>
                <select name="type" id="type">
                    <option value="1000-CHAR" {% if field.type == "1000-CHAR" %}selected{% endif %}>Text</option>
                    <option value="INT" {% if field.type == "INT" %}selected{% endif %}>Number</option>
                    <option value="IMAGE" {% if field.type == "IMAGE" %}selected{% endif %}>Image</option>
                </select>
                <label for="optional">Field Optional</label>
                <select name="optional" id="optional">
                    <option value="1" {% if field.optional %}selected{% endif %}>Yes</option>
                    <option value="" {% if not field.optional %}selected{% endif %}>No</option>
                </select>
                <label for="prompt">Field Prompt</label>
                <textarea name="prompt" id="prompt" maxlength="1000">{{ field.prompt }}</textarea>
                <label for="prompt">Field Prompt Timeout</label>
                <input type="number" name="timeout" id="timeout" min="30" max="600" value="{{ field.timeout }}">
                <div id="save-changes">
                    <button onclick="saveField('{{ field.field_id }}')" style="background:#00ff00;">Save Field</button>
                    <button onclick="deleteField('{{ field.field_id }}')" style="background:#ff0000;color:white;">Delete Field</button>
                </div>
            </details>
        {% endfor %}
    </div>
</section>


{% endblock content %}